{% extends 'blog/base.html' %}

{% block content %}
<h1 align="center">{{ title }}</h1>

<ul>
    {% for p in posts %}
    <li>
        <h2>{{p.title}}</h2>
    <li>
    <div class="article-panel">
         <p class="first">Категория: {{p.cat}}</p>
         <p class="last">Дата: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
    </div>
        <p>{{p.content|linebreaks|truncatewords:50}}</p>
        <div></div>
        <p><a class="btn btn-secondary" href="{{ p.get_absolute_url }}">Читать пост</a></p>
        <hr>
    </li>
    {% endfor %}
</ul>

{% endblock %}